body{
    background-color: #191414;
}
.image{
    width: 80px;
    height: 90px;
}
table{
    border: 2px solid;
    border-collapse: collapse;
}
tr,th,td{
    border: 2px solid ;
    padding: 10px 10px;
    color: #ffffff;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191414;
}
a{
    color: #10b954;
    text-decoration: none;
}
h2,p{
    color: #10b954;
}